header {
    padding-block: 32px;;
  }

header .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
  }

#profile {
    display: flex;
    gap: 32px;
  }

#profile  > div {
    max-width: 384px;
  }

#profile  h1 {
    color: var(--text-color-primary);
    font: var(--text-lg);
    margin-bottom: 8px;
  }

#profile  p {
    font: var(--text-md);
  }

#info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      list-style: none;
      width: 280px;
  }

#info li {
      align-items: center;
      display: flex;
      gap: 8px;
  }